.home {
  display: flex;
  flex-direction: row;

  .homeContainer {
    background-color: lightcoral;
    flex: 6;

    .widgets {
      display: flex;
      padding: 2em;
      gap: 2em;
    }
  }
}
