.home {
  display: flex;
  flex-direction: row;

  .homeContainer {
    background-color: lightcoral;
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 2em;
      gap: 2em;
    }

    .charts {
      padding: 0.3em 1em;
    }
  }
}
