.home {
  display: flex;
  flex-direction: row;

  .homeContainer {
    // background-color: lightcoral;
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 2em;
      gap: 2em;
    }

    .charts {
      padding: 0.3em 1em;
    }

    .listContainer {
      box-shadow: 2px 4px 10px 1px rgbs(201, 201, 201, 0.47);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, $alpha: 0.47);
      padding: 2em;
      margin: 2em;
    }

    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 4em;
    }
  }
}
