.featured {
  flex: 2;
  box-shadow: 2px 4px 10px 1px rgbs(201, 201, 201, 0.47);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, $alpha: 0.47);
  padding: 1em;
  background-color: white;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  .bottom {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;

    .featuredChart {
      width: 10em;
      height: 10em;
    }

    .title {
      font-weight: 500;
      color: gray;
    }

    .amount {
      font-size: 2em;
      margin: 0;
    }

    .desc {
      font-weight: 300;
      font-style: 1em;
      color: gray;
      text-align: center;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 1em;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 1em;
          font-style: 1em;

          &.positive {
            color: green;
          }
          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
