.sidebar {
  background-color: white;
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;

  .top {
    background-color: white;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }
  .center {
    padding-left: 3em;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 1em;
        font-weight: bold;
        color: #999;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.5em;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 2em;
          color: #7451f8;
        }

        span {
          font-size: 1em;
          font-weight: bold;
          color: #888;
          margin-left: 1em;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 1em;

    .colorOptions {
      width: 2em;
      height: 2em;
      border-radius: 0.3em;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 0.3em;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(1) {
        background-color: #333;
      }
    }
  }
}
