.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 1em;
      object-fit: cover;
    }
  }

  .status {
    padding: 1em;
    border-radius: 0.3em;

    &.Approved {
      color: green;
      background-color: rgba($color: green, $alpha: 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba($color: goldenrod, $alpha: 0.103);
    }
  }
}
